<ion-header-bar class="bar bar-header bar-balanced">
    <h3 class="header-title">鲜花商城</h3>
    <ul class="navbar-login" ng-show="unlogin" ng-controller="Login">
        <li><span ng-click="jump('loGin')">登录</span></li>
        <li>|</li>
        <li><span ng-click="jump('register')">注册</span></li>
    </ul>
    <ul class="navbar-login" ng-show="!unlogin" ng-controller="Login">
        <li>欢 迎 登 录 ,昵称 <b>{{username}}</b></li>
        <li>|</li>
        <li><p ng-click="logout()">退出</p></li>
    </ul>
</ion-header-bar>
