
<ion-header-bar>
    <h1 class="title">购物车</h1>
    <button
            ng-click="funcToggleEdit()"
            class="button button-clear button-dark">
        {{editShowMsg}}
    </button>
</ion-header-bar>

<ion-content>

    <ion-list class="list list-inset">
        <ion-item ng-repeat="f in cart">
            <div class="row">
                <div class="col col-15">
                    <img ng-src="{{f.img}}" alt=""/>
                </div>
                <div ng-hide="editEnable" class="col col-33">
                    <h2>{{f.name}}</h2>
                    <h2>{{f.price+'x'+f.fCount}}</h2>
                </div>
                <div ng-show='editEnable' class="col col-33">
                    <button ng-click="reduce($index)"
                            style="vertical-align: middle">-</button>
                    <input type="text"
                           ng-model="f.fCount"
                           style="width: 15px;display: inline-block;vertical-align: middle"/>
                    <button ng-click="add($index)"
                            style="vertical-align: middle">+</button>
                </div>
                <div ng-show='editEnable' class="col col-33">
                    <button ng-click="removeFlower($index)"
                            style="vertical-align: middle">删除</button>

                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="text-right">
                <p style="display: inline-block;vertical-align: middle">合计：{{sumAll()}}</p>
                <button ng-click="jump('order')"
                        class="button button-balanced button-small"
                        style="display: inline-block;vertical-align: middle">确定下单</button>
            </div>
        </ion-item>
    </ion-list>

</ion-content>

